<% question = question(params["id"]) %>
<h3><%= question.text %></h3>
<h3> Your Answer  </h3>

<%= form_tag "/answers" do %>
  <%= text_area(:answer,:text,size: "40x20") %>
  <%= hidden_field_tag 'parent_id', params["id"] %>
  <%= submit_tag "Submit" %>
<% end %>
